body {
  background: #203646;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #203646;
}

#mainArea {
  width: 90%;
  max-width: 800px;
  background: #8C93A8;
  margin: 30px auto;
}

p {
  font-size: 1em;
  line-height: 1.4em;
  margin-bottom: 20px;
}
.heading_main {
  border-bottom: 1px solid #FFFFC7;
}

h1 {
  font-size: 2em;
  color: #203646;
  padding: 20px;
  margin-left: 300px;
  margin-bottom: -20px;
}
.heading_sub {
  border-bottom: 1px solid #FFFFC7;
}

h3 {
  color: #203646;
  margin-left: 50px;
  margin-bottom: 25px;
}

h5 {
  font-size: 1em;
  color: #203646;
}

.section1 {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
}

.clear {clear: both;}
