body{
  background: #203646;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #203646;
}

#mainArea{
  width: 90%;
  max-width: 800px;
  background: #8C93A8;
  margin: 30px auto;
}

p{
  font-size: 1em;
  line-height: 1.4em;
  margin-bottom: 20px;
}

h1{
  font-size: 2em;
  color: #47682C;
  border-bottom: 1px solid #F2E94E;
  padding: 20px 0 0;
}

h3{
  border-bottom: 1px solid #F2E94E;
  padding: 20px 0 0;
  color: #47682C;
}

h5{
  font-size: 1em;
  color: #203646;
}
