img {
  margin: 30px;
     border: 30px dashed #808080;
   }
html, body {
  background: #203646;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
  font-size: 16px;
  color: #A1E8CC
}

p {
  font-size: 1em;
  line-height: 1.4em;
  margin-bottom: 20px;
}

h1{
  border-bottom: 1px solid #FF9B71;
  padding: 20px 0 0;
}

h3{
  border-bottom: 1px solid #387480;
  padding: 20px 0 0;
}

h5{
  font-size: 1em;
  color: #A1E8CC
}
